name: Publish to GitHub Packages
on:
    workflow_dispatch:
    release:
        types: [ created ]
jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v3
            -   name: Setup Java
                uses: actions/setup-java@v3
                with:
                    distribution: zulu
                    java-version: 8
                    architecture: x64
                    cache: maven
            -   name: Maven Deploy
                run: mvn -B deploy
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
